Repository kagetsuki1997/solana-tx-p2p-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, deadnix, taplo, sql-formatter, terraform, rustfmt

nixpkgs-fmt:
  name: nixpkgs-fmt
  description: Format nix code with nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

deadnix:
  name: deadnix
  description: Scan Nix files for dead code
  language: system
  entry: deadnix
  args:
  - --fail
  - --hidden

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - format

sql-formatter:
  name: sql-formatter
  language: system
  entry: treefmt
  args:
  - --allow-missing-formatter
  - --formatters
  - sql-formatter

terraform:
  name: terraform
  language: system
  entry: terraform
  args:
  - fmt
  - --write

rustfmt:
  name: rustfmt
  description: Formats Rsut code
  language: system
  entry: ./dev-support/bin/cargo-fmt-all
  pass_filenames: false

chore: fix clippy lint errors
  .cargo/audit.toml
  .cargo/deny.toml
  Cargo.lock
  Cargo.toml
  README.md
  dev-support/codespell-ignore-words
  solana-client-test/src/main.rs
  solana-hello-world/Cargo.toml
  solana-hello-world/src/lib.rs
  solana-tx-p2p/Cargo.toml
  solana-tx-p2p/src/app_state.rs
  solana-tx-p2p/src/bin/command/node_cmd.rs
  solana-tx-p2p/src/model/peer.rs
  solana-tx-p2p/src/proto/mod.rs
  solana-tx-p2p/src/service/error.rs
  solana-tx-p2p/src/service/peer/default/mod.rs
  solana-tx-p2p/src/service/peer/worker.rs
  solana-tx-p2p/src/service/round_robin_election.rs
  solana-tx-p2p/src/service/solana/relayer.rs
  solana-tx-p2p/src/service/solana/signer.rs
  solana-tx-p2p/src/web/controller/mod.rs
  solana-tx-p2p/src/web/controller/peer/v1.rs
  solana-tx-p2p/src/web/mod.rs
Due: taplo, rustfmt

feat: add get transaction by signature from solana
  Cargo.lock
  Cargo.toml
  README.md
  dev-support/containers/alpine/Dockerfile
  docs/openapi/api.yaml
  proto/p2p/p2p.proto
  proto/p2p/v1/p2p_service.proto
  solana-client-test/Cargo.toml
  solana-client-test/src/main.rs
  solana-tx-p2p/Cargo.toml
  solana-tx-p2p/src/bin/command/node_cmd.rs
  solana-tx-p2p/src/bin/command/server_cmd.rs
  solana-tx-p2p/src/bin/error.rs
  solana-tx-p2p/src/grpc/peer/v1.rs
  solana-tx-p2p/src/model/mod.rs
  solana-tx-p2p/src/model/peer.rs
  solana-tx-p2p/src/service/error.rs
  solana-tx-p2p/src/service/mod.rs
  solana-tx-p2p/src/service/peer/default/mod.rs
  solana-tx-p2p/src/service/peer/worker.rs
  solana-tx-p2p/src/service/solana/mod.rs
  solana-tx-p2p/src/service/solana/relayer.rs
  solana-tx-p2p/src/service/solana/signer.rs
  solana-tx-p2p/src/web/controller/mod.rs
  solana-tx-p2p/src/web/controller/peer/mod.rs
  solana-tx-p2p/src/web/controller/peer/v1.rs
Due: taplo, rustfmt

feat: implement server
  solana-tx-p2p-server.sh
  solana-tx-p2p/src/app_state.rs
  solana-tx-p2p/src/bin/command/node_cmd.rs
  solana-tx-p2p/src/bin/command/server_cmd.rs
  solana-tx-p2p/src/service/error.rs
  solana-tx-p2p/src/service/mod.rs
  solana-tx-p2p/src/service/peer/default/mod.rs
  solana-tx-p2p/src/service/peer/mod.rs
  solana-tx-p2p/src/service/peer/worker.rs
Due: rustfmt

chore: add helm charts
  charts/solana-tx-p2p-server/.helmignore
  charts/solana-tx-p2p-server/Chart.yaml
  charts/solana-tx-p2p-server/templates/_common.tpl
  charts/solana-tx-p2p-server/templates/_helpers.tpl
  charts/solana-tx-p2p-server/templates/configmap.yaml
  charts/solana-tx-p2p-server/templates/deployment.yaml
  charts/solana-tx-p2p-server/templates/hpa.yaml
  charts/solana-tx-p2p-server/templates/ingress/certificate.yaml
  charts/solana-tx-p2p-server/templates/ingress/gateway.yaml
  charts/solana-tx-p2p-server/templates/ingress/virtualservice.yaml
  charts/solana-tx-p2p-server/templates/secret.yaml
  charts/solana-tx-p2p-server/templates/service.yaml
  charts/solana-tx-p2p-server/templates/serviceaccount.yaml
  charts/solana-tx-p2p-server/templates/tests/test-connection.yaml
  charts/solana-tx-p2p-server/values.yaml
Due: none

chore(nix): add custom solana-cli
  dev-support/flake-modules/shell.nix
  dev-support/flake-modules/solana-cli/Cargo.lock
  dev-support/flake-modules/solana-cli/package.nix
  solana-hello-world/Cargo.toml
Due: nixpkgs-fmt, deadnix, taplo

chore: build package with nix
  Cargo.toml
  dev-support/flake-modules/default.nix
  dev-support/flake-modules/script.nix
  flake.nix
  solana-hello-world/Cargo.toml
Due: nixpkgs-fmt, deadnix, taplo

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  deadnix: any of: \.nix$
  taplo: any of: \.toml$
  sql-formatter: any of: \.sql$
  terraform: any of: \.(tf|tfvars)$
  rustfmt: any of: \.rs$
